{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block heat_title %}MVP Landing Page{% endblock %}</title>
    {% include 'head_css.html' %}
    <style type="text/css">
      {% block style %}
      {% endblock %}
    </style>
  </head>

  <body>

    {% include 'navbar.html' %}

    
      {% block jumbotron %}
      
      {% endblock %}
      
      {% block content %}
      {% endblock %}

      
    {% include 'javascript.html' %}
  </body>
</html>

