{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block heat_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
<style type="text/css">
      {% block style %}
      	.jumbotron{
      		background-color: #0056b3;
      		color: #FFF;
      	}
      {% endblock %}
    </style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
        <div class="jumbotron">
        <div class="container">
        <div class="row">
        <div class="col-sm-6"> 
        <h1>Welcome page</h1>
        <p class="text-align-left">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Join Us &raquo;</a>
        </div>
        <div class="col-sm-6">
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/GxbJVB65bAs" frameborder="0" allowfullscreen></iframe> -->
          <img src="{% static 'img/one.jpeg'%}" width="460" height="300" class="img-responsive"/>
        </div>
        </div>
        </div>
      </div>
{% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
	<div class="container text-center">
		<div class ="mr-2 col-md-2"></div>
		<div class="row">
			<div class ="mr-2 col-md-2"></div>
			<div class ="mr-2 col-md-2" style="border:1px solid #cecece;">{{first}}
				<div class="row"><div class="container text-center">CHILD ACCOUNTS</div>
</div>
			</div>
			<div class ="mr-2 col-md-2" style="border:1px solid #cecece;">{{second}}
			<div class="row"><div class="container text-center">ACCOUNTS WON</div>
</div>
			</div>
			<div class ="mr-2 col-md-2" style="border:1px solid #cecece;">{{third}}
				<div class="row"><div class="container text-center">HIGH POTENTIAL ACCOUNTS</div>
</div>
			</div>
			<div class ="mr-2 col-md-2" style="border:1px solid #cecece;">{{forth}}
			<div class="row"><div class="container text-center">HIGH PIPELINE ACCOUNTS</div>
</div>
			</div>
			</div>
			<br><br>

		
		<div class="row">
			<br><br>
			<br><br>
			<br><br>
			<div class ="mr-2 col-md-2"></div>
			<div class ="col-md-4 p-3 mb-2 bg-primary text-white" style="border:1px solid #cecece;">Account name : {{ac_name}}</div>
			<div class ="col-md-4 p-3 mb-2 bg-primary text-white" style="border:1px solid #cecece;">Customer name : {{cust_name}}</div>
		</div>
		<div class="row">
			<div class ="col-md-6"> ACCOUNT RISKS </div>
			<div class ="col-md-6">
				<table class="table">
				{% for item in acc_risk %}
					<tr><td>{{forloop.counter}}</td>
			      <td>{{item}}</td></tr>
				{% endfor %}
				</table>
			</div>
			</div>
		</div>
{% else %}
	<div class="container">
        <div class="row">
        	<div class="col-md-4 text-align-center">
        		<i class="fa fa-id-card fa-5x" aria-hidden="true"></i>
        	</div>
        	<div class="col-md-4 text-align-center">
        		<i class="fa fa-bolt fa-5x" ></i>
        	</div> 
			<div class="col-md-4">
				<h1>{{template_title}}</h1>
				<!-- {{user}} -->
				<!-- {{request.user}} -->
				<form method='POST' action=''>{% csrf_token %}
					{{form|crispy}}
					<input class='btn btn-primary' type='submit' name='Sign Up'/>
					<!-- 	<input type="text" name="">
						<input type="" name=""> -->
				</form>
			</div>
		</div>
    </div>
{% endif %}
{% endblock %}